.inputBox {
border:2px solid #007bff;
border-radius:5px;
padding:0.3rem;
width:95%;
outline:none;
}

.error{
    border:2px solid red;
}


.mainDiv {
    border:1px solid #007bff;
    border-radius:5px;
    position: absolute;
}

.column {
    float:left;
    margin-left:5%;
}

.roW {
    display:flex;
    flex-wrap: wrap;
}

